@import "tailwindcss";

/* OPTIONAL PLUGINS */
@import "tw-animate-css";

/* BASE VARIABLES */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* GLOBAL */
body {
  transition: background 0.3s ease, color 0.3s ease;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}